<p> Welcome to <%= title %>. </p>

<nav>
  <ul>
    <% if (!user) { %>
      <li> <a href="/signup"> Sign Up </a> </li>
      <li> <a href="/login"> Log In </a> </li>
    <% } else { %>
      <h3>Hi <%= user.name %>!</h3>
      <li> <a href="/launderers"> Find a Launderer </a> </li>
      <li> <a href="/dashboard"> See Dashboard </a> </li>
      <li> <a href="/logout"> Log Out </a> </li>
    <% } %>
  </ul>
</nav>
