<h2> Find a launderer </h2>

<% if (errorMessage) { %>
  <p class="error-message">
    <%= errorMessage %>
  </p>
<% } %>

<ul>
  <% launderers.forEach((launderer) => { %>
    <li>
      <h3> <%= launderer.name %> </h3>
      <p> Fee: $<%= launderer.fee %> </p>

      <a href="/launderers/<%= launderer._id %>">
        Schedule a Pickup
      </a>
    </li>
  <% }) %>
</ul>

<a href="/dashboard">
  Back to Dashboard
</a>
