<h2> Launderer Profile </h2>

<h3> <%= launderer.name %> </h3>

<p>
  Fee:
  <b> $<%= launderer.fee %> </b>
</p>


<h3>
  Schedule a Pickup With
  <i> <%= launderer.name %> </i>
</h3>

<form action="/launderers/<%= launderer._id %>/pickups" method="post">
  <div>
    <label for="pickup-date-input">
      When would you like your laundry picked up?
    </label>
    <input type="date" name="date" id="pickup-date-input">
  </div>

  <button> Schedule This Pickup </button>
</form>


<a href="/launderers">
  Find Another Launderer
</a>
